/* 
Theme & Template Designed By: Todd Swift
ThemeKings --  www.themekings.net
Sept. 2009  All Rights Reserved
Military Clan-  Revised 01/10
*/

/* Link Style */

a:link {color:#8d8d6A;
}
a:visited {color:#8d8d6A;
}
a:active {color:#8d8d6A;
}
a:hover {color:#ffffff;}
a {text-decoration:none}

/* Body & Banner Containers */

body {
	padding: 0px;
	margin: 0px;
	background-image: url('themeparts/bgnd.jpg');
	background-color: #636243;
	overflow: auto;
	background-repeat: repeat-x;
	position: relative;
}
#banner {
	padding: 0px;
	margin: 0px;
	background-image: url('themeparts/header.jpg');
	width: 880px;
	height: 133px;
	background-repeat: no-repeat;
	position: relative;
	overflow: hidden;
}
#bodycontainer {
	margin: 0px auto;
	width: 880px;
	overflow: hidden;
	height: 100%;
	background-image: url('themeparts/bodyfiller.jpg');
	background-repeat: repeat-y;
}

/* Columns */

#COL-left {
	padding: 0px;
	margin: 10px 0px 0px 10px;
	position: relative;
	width: 180px;
	height: 100%;
	float: left;
	overflow: hidden;
}
#COL-right {
	padding: 0px;
	margin: 10px 10px 0px 0px;
	position: relative;
	width: 670px;
	height: 100%;
	float: right;
	overflow: hidden;
}

/* Banner Title */

.bannertitle{
	font-family: Verdana;
	font-size: 1.1em;
	color: #8d8d6A;
	font-weight: bold;
	text-decoration: none;
	text-align: right;
	padding: 0px;
	margin-top: 24px;
	margin-left: 550px;
	width: 300px;
	height: 25px;
	position: relative;
	overflow: hidden;
	list-style-type: none;
}


/*  Navigation Menus  */

.navbox {
	padding: 0px;
	margin: 0px;
	position: relative;
	width: 180px;
	height: 100%;
	overflow: hidden;
}
.navhead {
	background-position: center;
	padding: 0px;
	margin: 0px;
	background-image: url('themeparts/navheader.gif');
	width: 180px;
	height: 35px;
	background-repeat: no-repeat;
	overflow: hidden;
	font-family: Verdana;
	font-size: .8em;
	color: #636243;
	text-align: center;
	text-indent: 0px;
	line-height: 220%;
	position: relative;
	font-weight: bold;
}
.navfill{
	background-position: center;
	padding: 0px;
	margin: 0px;
	background-image: url('themeparts/navfill.jpg');
	background-repeat: repeat-y;
	width: 180px;
	height: 100%;
	overflow: hidden;
	position: relative;
}
.navinfo {
	list-style: none;
	padding: 0px;
	margin: 0px auto 0px auto;
	font-family: Verdana;
	font-size: .7em;
	font-weight: normal;
	font-style: normal;
	color: #636243;
	text-align: left;
	width: 168px;
	height: 100%;
	overflow: hidden;
	text-indent: 0px;
	line-height: 175%;
	position: relative;
}
.nav-menu ul {
	padding: 0px;
	margin: 0px 0px 0px 5px;
}
.navfooter {
	margin: 0px 0px 20px 0px;
	padding: 0px;
	background-image: url('themeparts/navfoot.jpg');
	width: 180px;
	height: 15px;
	background-repeat: no-repeat;
	position: relative;
}
.shoutbox {
	background-color:#4B4B36;
	padding:0px;
	margin:0px;
	width:180px;
	height:270px;
	background-image:url('themeparts/navfill.jpg');
}
.mp3 {
	background-color: #4B4B36;
	padding: 0px;
	margin: 0px;
	width: 180px;
	height: 60px;
	position: relative;
	overflow: hidden;
}


/*  Topic Menu  */

.topicmenu {
	padding: 0px;
	margin: 0px;
	width: 670px;
	height: 100%;
	overflow: hidden;
	position: relative;
}
.toptop {
	margin: 0px;
	padding: 0px;
	background-image: url('themeparts/topictop.gif');
	position: relative;
	width: 670px;
	height: 40px;
	background-repeat: no-repeat;
}
.topicmid {
	padding: 0px;
	margin: 0px;
	background-image: url('themeparts/topicfill.jpg');
	position: relative;
	width: 670px;
	height: 100%;
	background-repeat: repeat-y;
	overflow: hidden;
}
.topicfoot {
	padding: 0px;
	margin: 0px 0px 20px 0px;
	background-image: url('themeparts/topicbtm.jpg');
	position: relative;
	width: 670px;
	height: 15px;
	background-repeat: no-repeat;
}
.topictitle {
	font-family: Verdana;
	font-size: .8em;
	font-weight: bold;
	color: #8d8d6A;
	padding: 0px;
	text-align: center;
	position: relative;
	width: 300px;
	list-style-type: none;
	text-indent: 0px;
	line-height: 245%;
	margin-right: auto;
	margin-left: auto;
}
.topicsignature {
	font-family: Verdana;
	font-size: .7em;
	font-weight: normal;
	color: #8d8d6A;
	padding: 0px;
	margin: 15px 0px 0px 340px;
	text-align: right;
	position: relative;
	width: 300px;
	font-style: normal;
	font-variant: normal;
	height: 100%;
	list-style-type: none;
	text-decoration: none;
}
.topicinfo {
	font-family: Verdana;
	font-size: .7em;
	font-weight: normal;
	color: #636243;
	padding: 0px;
	margin: 0px auto 0px auto;
	list-style-type: none;
	text-align: left;
	text-decoration: none;
	text-indent: 0px;
	position: relative;
	width: 650px;
	height: 100%;
}

/*  Footer  */

.foot {
	padding: 0px;
	margin: 0px;
	background-image: url('themeparts/footer.jpg');
	width: 880px;
	height: 82px;
	position: relative;
	overflow: hidden;
	list-style-type: none;
	background-repeat: no-repeat;
}

/*  Clears  */

.clearB {
	clear: both;
}
.clearL {
	clear: left;
}
.clearR {
	clear: right;
}
